<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.fossasia.susi.ai">

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:vmSafeMode="true">
        <activity
            android:name=".login.WelcomeActivity"
            android:theme="@style/PreferenceFixTheme.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chat.ChatActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/Chat_Theme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".skills.SkillsActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/PreferencesThemeLight">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.fossasia.susi.ai.chat.ChatActivity" />
        </activity>
        <activity
            android:name=".signup.SignUpActivity"
            android:theme="@style/SignUp_Theme"
            android:windowSoftInputMode="stateVisible|adjustResize"
            tools:replace="android:theme" />
        <activity
            android:name=".login.LoginActivity"
            android:theme="@style/Login_Theme"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <!--
        For Developers:
        Replay the fabric_api_key to your actual API KEY
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="fabric_api_key" />
        -->

        <activity
            android:name=".device.DeviceActivity"
            android:label="@string/device_title"
            android:theme="@style/PreferencesThemeLight">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.fossasia.susi.ai.skills.SkillsActivity" />
        </activity>
        <activity
            android:name=".login.ForgotPass"
            android:label="Reset Password"
            android:theme="@style/PreferencesThemeLight">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.fossasia.susi.ai.login.LoginActivity" />
        </activity>

        <activity
            android:name=".skills.feedback.FeedbackActivity"
            android:label="See All Reviews"
            android:theme="@style/PreferencesThemeLight" />

        <activity
            android:name=".chat.YouTubeActivity"
            android:theme="@style/Theme.AppCompat.Dialog">
        </activity>
        <meta-data
            android:name="com.google.android.youtube.API_KEY"
            android:value="${YOUTUBE_API_KEY}"/>
    </application>

</manifest>