<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.fossasia.susi.ai">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/settings_title"
            android:theme="@style/PreferenceFixTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.fossasia.susi.ai.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.SignUpActivity"
            android:theme="@style/SignUp_Theme"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:replace="android:theme" />
        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/Login_Theme"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ForgotPasswordActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".helper.GetVideos"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <!--
        For Developers:
        Replay the fabric_api_key to your actual API KEY
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="fabric_api_key" />
        -->

        <activity android:name=".activities.ImportantMessages">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity"/>
        </activity>
    </application>

</manifest>
