<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.fossasia.susi.ai">

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".login.WelcomeActivity"
            android:theme="@style/PreferenceFixTheme.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chat.ChatActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/Chat_Theme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".skills.SkillsActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/PreferencesThemeLight">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.fossasia.susi.ai.chat.ChatActivity" />
        </activity>
        <activity
            android:name=".signup.SignUpActivity"
            android:theme="@style/SignUp_Theme"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".login.LoginActivity"
            android:theme="@style/Login_Theme"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".skills.feedback.FeedbackActivity"
            android:theme="@style/PreferencesThemeLight" />
    </application>

</manifest>
